{% extends 'base.html.twig' %}
{% block title %}Musicas{% endblock %}
{% block body %}
    <h1>Ficha de musica</h1>
    {% if musica %}
        <ul>
            <li>Nombre: {{ musica.nombre }}</li>
            <li>Precio: {{ musica.precio }}</li>
            <li>Autor: {{ musica.autor.nombre }}</li>
        </ul>
    {% else %}
        <p>Musica no encontrada</p>
    {% endif %}
{% endblock %}